/*
found some stuff on http://www.hongkiat.com/blog/20-useful-css-tips-for-beginners/
*/

/* 
BASE STYLES
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: verdana, sans-serif;
  font-size: 0.85em;
}

#wrapper {
  width: 920px;
  margin: 0 auto;
}

/*
BODY ELEMENTS
*/

header {
 max-width:100%;
 height:231px;
 background-image: url("../img/title3.jpg");
 background-size: cover;
 }

h1 {
text-indent:-9999px;
}

#small-headline {
 font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}

#large-headline {
 font-family: times, Times New Roman, times-roman, Georgia, serif;
 margin: 0;
 padding: 0px 0px 6px 0px;
 color: #444;
 font-size: 51px;
 line-height: 44px;
 letter-spacing: -2px;
 font-weight: bold;
}


/*
TABLE
*/

table {
 font-family: Arial, sans-serif;
 border: 1px solid;
 border-collapse: collapse;
}

th {
 background-color: #0066CC;
 color: white;
}

td {
 border: 1px solid;
 padding: 5px;
}


/*
NAVIGATION ELEMENTS
*/

.nav {
  /*margin-top: 20px;*/
  list-style: none;
  float: right;
}

.nav li {
  float: left;
  margin-left: 20px;
}

a {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  color: #eac657;
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  color: #d17219;
  background: #FFF;
}

/*
LAYOUT CONTAINERS
*/

.main-header {
  padding-top: .0em;
  padding-bottom: .5em;
}


/*
FOOTER
*/

.main-footer {
  color: #000;
  text-align: center;
  padding: 2em 0;
  margin-top: 30px;
}

/*
MEDIA QUERIES
*/

@media (min-width: 769px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }


  .nav {
    float: right;
  }

  .nav li {
    display: inline-block;
    margin-left: 15px;
  }


  /* ---- Float clearfix ---- */

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

}

@media (min-width: 1025px) {
  
  .container {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
  }

 }