/*********************
Page Styles
*********************/

body {
  margin: 0;
  font-family: verdana, sans-serif;
  font-size: 0.85em;
}

#wrapper {
  width: 920px;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*********************
Header
*********************/

#header {
  float: left;
  margin: 20px 0;
  width: 100%;
}

h1 {
  font-size: 3em;
  float: left;
  margin: 0;
  width: 300px;
  height: 66px;
}

/*********************
Navigation
*********************/

#nav {
  margin-top: 20px;
  list-style: none;
  float: right;
}

#nav li {
  float: left;
  margin-left: 20px;
}

a {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  color: #eac657;
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  color: #d17219;
  background: #FFF;
}

/*********************
Content
*********************/

img {
  max-width: 100%;
}

#content {
  width: 65%;
  float: left;
}

h2 {
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 0;
  line-height: 0.2em;
}

#about {
  font-size: 1.3em;
  margin: 20px 0px;
  float: left;
}

#about p {
  background: #d2b14e;
  padding: 20px;
  font-style: italic;
  font-size: 0.9em;
}

#see_them {
  margin: 20px 0;
}

#see_them {
  font-weight: bold;
  margin-right: 20px;
}

/*********************
Table
*********************/

#brag {
  float: left;
  font-weight: bold;
}

#product_table {
  float: left;
  width: 100%;
  font-size: 1.2em;
}

#some_stuff thead {
  color: #EEE;
  text-align: left;
}

#some_stuff th, #Some_stuff td {
  padding: 10px;
}

#some_stuff td {
  background: #d2b14e;
}

/**********************************
  Footer
**********************************/
.main-footer {
  background: #551A8B;
  color: #000;
  padding: 2em 0;
  margin-top: 30px;
}

/**********************************
  Media Queries
**********************************/

@media (min-width: 769px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .name,
  .col {
    float: left;
  }

  .primary,
  .secondary {
    width: 50%;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .tagline {
    font-size: 1.4em;
  }